<div class="border rounded p-2 mb-2">
    <h4>{{ category.Name }}</h4>
    <hr />
    <div ng-repeat="row in category.Fields" class="row">
        <div ng-repeat="field in row" class="col">
            <div class="form-group">
                <label for="{{ field.Id }}">{{ field.Name }}</label>
                <input type="text" class="form-control" id="{{ field.Id }}" ng-if="field.Type == 'text'" ng-model="field.Value" ng-change="updateMapVariable(field.MapVariableBinding, field.Value)"/>
                <input type="range" class="form-control-range" id="{{ field.Id }}" min="{{ field.Options.min }}" max="{{ field.Options.max }}" ng-if="field.Type == 'range'" ng-model="field.Value" ng-change="updateMapVariable(field.MapVariableBinding, field.Value)"/>
                <select class="custom-select" id="{{ field.Id }}" ng-if="field.Type == 'select'" ng-options="value as key for (key, value) in field.Options" ng-model="field.Value" ng-change="updateMapVariable(field.MapVariableBinding, field.Value)"/>
                <input type="checkbox" id="{{ field.Id }}" ng-if="field.Type == 'checkbox'" ng-model="field.Value" ng-change="updateMapVariable(field.MapVariableBinding, field.Value)"/>
            </div>
        </div>
    </div>
</div> 